@model MyMovieLibrary.Models.Movie

@{
    ViewData["Title"] = "Create New Movie";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-8">
        @* <-- Увеличихме малко колоната, за да има място *@
        <form asp-action="Create" method="post">

            @*
                Използваме "row" за всеки ред от формата.
                Label е "col-sm-2" (2 колони широк)
                Input е "col-sm-10" (10 колони широк)
            *@

            <div class="row mb-3">
                <label asp-for="Title" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Title" class="form-control" />
                </div>
            </div>

            <div class="row mb-3">
                <label asp-for="Director" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Director" class="form-control" />
                </div>
            </div>

            <div class="row mb-3">
                <label asp-for="Year" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Year" class="form-control" />
                </div>
            </div>

            <div class="row mb-3">
                <label asp-for="Genre" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Genre" class="form-control" />
                </div>
            </div>

            <div class="row mb-3">
                <label asp-for="Rating" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Rating" class="form-control" />
                </div>
            </div>

            <div class="row mb-3">
                @* Бутонът е "бутнат" с 2 колони (offset-sm-2), за да е подравнен с кутийките *@
                <div class="col-sm-10 offset-sm-2">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

<br />
<div>
    <a asp-action="Index">Back to List</a>
</div>